.confirm-dialog-container .content-container{
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: flex;
}

.confirm-dialog-container .mat-dialog-container{
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}

.confirm-dialog-container #close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}

button{
    margin: 20px 15px 0px 0px;
}