<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Informe o  nome" [(ngModel)]="produto.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Informe o valor" [(ngModel)]="produto.valor" name="valor">
        </mat-form-field>
    </form>

<button mat-raised-button (click)="createProduct()" color="primary">
    Salvar  
</button>

<button mat-raised-button (click)="cancela()">
        Cancelar  
</button>
</mat-card>
    
